@font-face {
    font-family: "Jost";
    src: url(../fonts/Jost-VariableFont_wght.ttf);
}

@mixin navigationfont {
    color: rgb(27, 27, 29);
    font-family: Jost;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
}

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    @include navigationfont();
}

.header {
    display: flex;
    justify-content: center;
    background: rgb(238, 239, 241);

    &__ellipse {
        position: absolute;
        width: 572px;
        height: 788px;
        left: -116px;
        top: -101px;
        filter: blur(500px);
        background: rgba(255, 255, 255, 0.8);
    }

    .navigation {
        padding-top: 24px;
        display: flex;
        justify-content: space-around;
        gap: 24.861111111vw;
        align-items: center;
        &__logo{
            padding: 3px 0px 3px 0px;
            width: 8.75vw;
        }

        &__list {
            display: flex;
            justify-content: space-between;
            gap: 2.77777vw;
        }

        &__element {
            display: flex;
            align-items: center;
        }
    }

    .link {
        &__container {
            margin-right: -1.388888vw;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 3.8888vw;
            height: 56px;
            border-radius: 63px;
            box-shadow: 0px 30px 60px 0px rgba(163, 168, 179, 0.15);
            background: rgb(255, 255, 255);

            &__black {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 14.4444vw;
                height: 56px;
                border-radius: 63px;
                box-shadow: 0px 30px 60px 0px rgba(163, 168, 179, 0.15);
                background: rgb(27, 27, 29);
                p{
                    @include navigationfont();
                    line-height: 26px;
                    color: rgb(255, 255, 255);
                }
            }
        }

    }
}