@font-face {
  font-family: "Jost";
  src: url(../fonts/Jost-VariableFont_wght.ttf);
}
* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(27, 27, 29);
  font-family: Jost;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgb(238, 239, 241);
}
.header__ellipse {
  position: absolute;
  width: 572px;
  height: 788px;
  left: -116px;
  top: -101px;
  -webkit-filter: blur(500px);
          filter: blur(500px);
  background: rgba(255, 255, 255, 0.8);
  z-index: -1;
}
.header .navigation {
  padding-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 24.861111111vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .navigation__logo {
  padding: 3px 0px 3px 0px;
  width: 8.75vw;
}
.header .navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2.77777vw;
}
.header .navigation__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .link__container {
  margin-right: -1.388888vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 3.8888vw;
  height: 3.888vw;
  border-radius: 63px;
  -webkit-box-shadow: 0px 30px 60px 0px rgba(163, 168, 179, 0.15);
          box-shadow: 0px 30px 60px 0px rgba(163, 168, 179, 0.15);
  background: rgb(255, 255, 255);
}
.header .link__container__black {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 14.4444vw;
  height: 3.8888vw;
  border-radius: 63px;
  -webkit-box-shadow: 0px 30px 60px 0px rgba(163, 168, 179, 0.15);
          box-shadow: 0px 30px 60px 0px rgba(163, 168, 179, 0.15);
  background: rgb(27, 27, 29);
}
.header .link__text {
  color: rgb(27, 27, 29);
  font-family: Jost;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  line-height: 26px;
  color: rgb(255, 255, 255);
}

.main {
  padding-top: 123px;
  padding-bottom: 83px;
  background: rgb(238, 239, 241);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.main .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 30px;
  padding-left: 99px;
}
.main .text__header {
  padding-top: 31px;
  width: 41.458vw;
  color: rgb(27, 27, 29);
  font-family: Jost;
  font-weight: 800;
  font-size: 124px;
  line-height: 113%;
  letter-spacing: 0%;
  text-align: left;
}
.main .text__title {
  width: 36.805vw;
  color: rgb(100, 100, 106);
  font-family: Jost;
  font-size: 24px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0%;
  text-align: left;
}
.main .text .links {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.083vw;
}
.main .text .links__shop {
  color: rgb(27, 27, 29);
  font-family: Jost;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
  text-decoration: underline;
}
.main .text .links .button__container {
  width: 15.625vw;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 126px;
  background: rgb(27, 27, 29);
}
.main .text .links .button__text {
  color: rgb(255, 255, 255);
  font-family: Jost;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0%;
}
.main__picture {
  width: 45.625vw;
  z-index: 0;
}
.main .picture {
  position: relative;
  padding-left: 15px;
}
.main .picture img[alt=rate] {
  width: 12.5vw;
}
.main .picture__text {
  color: rgb(100, 100, 106);
  font-family: Jost;
  font-size: 19px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  width: 16.11vw;
}
.main .picture__container {
  position: absolute;
  top: 391px;
  bottom: 181px;
  left: 18px;
  padding-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 12px;
  border-radius: 24px;
  width: 17.916666vw;
  height: 140px;
  background: #fff;
}

.explore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  padding-top: 150px;
}
.explore__header {
  color: rgb(27, 27, 29);
  font-family: Jost;
  font-size: 64px;
  font-weight: 800;
  line-height: 70px;
  letter-spacing: 0%;
  text-align: center;
}
.explore__title {
  color: rgb(100, 100, 106);
  font-family: Jost;
  font-size: 24px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0%;
  text-align: center;
  width: 41.9444vw;
}
.explore__cards {
  margin-top: 66px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}
.explore .cards__element {
  padding-top: 40px;
  padding-bottom: 40px;
  width: 27.291vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 8px;
  border-radius: 24px;
  -webkit-box-shadow: 0px 30px 60px 0px rgba(163, 168, 179, 0.15);
          box-shadow: 0px 30px 60px 0px rgba(163, 168, 179, 0.15);
  background: linear-gradient(135deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
}
.explore .cards__header {
  color: rgb(27, 27, 29);
  font-family: Jost;
  font-size: 36px;
  font-weight: 600;
  line-height: 52px;
  letter-spacing: 0%;
  text-align: left;
}
.explore .cards__title {
  color: rgb(100, 100, 106);
  font-family: Jost;
  font-size: 24px;
  font-weight: 400;
  line-height: 35px;
  text-align: left;
  width: 22.0833vw;
}
.explore .cards__image {
  width: 10.41666vw;
  -ms-flex-item-align: center;
      align-self: center;
  margin-top: 52px;
  margin-bottom: 52px;
}
.explore .cards .button {
  -ms-flex-item-align: center;
      align-self: center;
}
.explore .cards .button__container {
  width: 15.625vw;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 126px;
  background: rgb(27, 27, 29);
}
.explore .cards .button__text {
  color: rgb(255, 255, 255);
  font-family: Jost;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
}
.explore .cards__element:nth-child(1) .cards__header {
  padding-left: 2.777vw;
}
.explore .cards__element:nth-child(1) .cards__title {
  padding-left: 2.777vw;
}
.explore .cards__element:nth-child(2) .cards__header {
  padding-left: 2.1527vw;
}
.explore .cards__element:nth-child(2) .cards__title {
  padding-left: 2.1527vw;
}
.explore .cards__element:nth-child(3) .cards__header {
  padding-left: 2.777vw;
}
.explore .cards__element:nth-child(3) .cards__title {
  padding-left: 2.777vw;
}

.order {
  margin-top: 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 21px;
}
.order__container {
  padding-right: 100px;
  width: 512px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
.order__container .order__header {
  margin-top: 20px;
  color: rgb(27, 27, 29);
  font-family: Jost;
  font-size: 64px;
  font-weight: 800;
  line-height: 70px;
  letter-spacing: 0%;
  text-align: left;
}
.order__container .order__text {
  color: rgb(100, 100, 106);
  font-family: Jost;
  font-size: 24px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0%;
  text-align: left;
}
.order__container .button {
  margin-top: 30px;
}
.order__container .button__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 126px;
  background: rgb(27, 27, 29);
  height: 70px;
  width: 13.263vw;
}
.order__container .button__text {
  color: rgb(255, 255, 255);
  font-family: Jost;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}

.bestSellings {
  margin-top: 170.72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}
.bestSellings__header {
  color: rgb(27, 27, 29);
  font-family: Jost;
  font-size: 64px;
  font-weight: 800;
  line-height: 70px;
  letter-spacing: 0%;
  text-align: center;
}
.bestSellings__text {
  color: rgb(100, 100, 106);
  font-family: Jost;
  font-size: 24px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0%;
  text-align: center;
  width: 41.94vw;
}
.bestSellings .bestSellings__container {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 31px;
}
.bestSellings .bestSellings__container .container__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 393px;
  gap: 24px;
  border-radius: 24px;
  -webkit-box-shadow: 0px 20px 60px 0px rgba(163, 168, 179, 0.15);
          box-shadow: 0px 20px 60px 0px rgba(163, 168, 179, 0.15);
  background: linear-gradient(135deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
}
.bestSellings .bestSellings__container .container__card .card__text {
  width: 22.708vw;
  color: rgb(100, 100, 106);
  font-family: Jost;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}
.bestSellings .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 16px;
}
.bestSellings .top .container {
  padding-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
}
.bestSellings .top .container__text {
  color: rgb(100, 100, 106);
  font-family: Jost;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}
.bestSellings .top .container__header {
  color: rgb(27, 27, 29);
  font-family: Jost;
  font-size: 40px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: 0%;
  text-align: left;
}
.bestSellings .bottom {
  margin-top: 16px;
  padding-bottom: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 63px;
}
.bestSellings .bottom__header {
  color: rgb(27, 27, 29);
  font-family: Jost;
  font-size: 30px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}
.bestSellings .bottom__button .button_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 11.875vw;
  height: 60px;
  border-radius: 126px;
  background: rgb(27, 27, 29);
}
.bestSellings .bottom__button .button_container .container__text {
  color: rgb(255, 255, 255);
  font-family: Jost;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}

.application {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.application__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
.application__container .container__header {
  color: rgb(27, 27, 29);
  font-family: Jost;
  font-size: 64px;
  font-weight: 800;
  line-height: 70px;
  letter-spacing: 0%;
  text-align: left;
  width: 35.55vw;
}
.application__container .container__text {
  width: 35.55vw;
  color: rgb(100, 100, 106);
  font-family: Jost;
  font-size: 24px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0%;
  text-align: left;
}
.application__container .button__container {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 18.61vw;
  height: 70px;
  border-radius: 126px;
  background: rgb(27, 27, 29);
}
.application__container .button__container .container__text {
  width: auto;
  color: rgb(255, 255, 255);
  font-family: Jost;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}